@model KittyDatabase.Models.ViewModels.HighScoreViewModel;
@{
    ViewData["Title"] = "High Scores";
}

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Play Again!</a><br />
</p>

<table class="scores">
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Date</th>
    </tr>
    @for (int i = 0; i < Model.HighScores.Count; i++)
    {
        <tr>
            <td>@(i + 1). @Model.HighScores[i].Player</td>
            <td>@Model.HighScores[i].Score</td>
            <td>@Model.HighScores[i].Date.ToShortDateString()</td>
        </tr>
    }
</table>

<h4>Credits</h4>
<p>
    <u>Game Concept and Design</u><br />Bradley Harris
</p>
<p>
    <u>Level Design</u><br />John Culpepper (39/50) and Bradley Harris (11/50)
</p>
<p>
    <u>Images</u><br />Marcos Duarte
</p>


