@model HighScore

@{
    ViewData["Title"] = "Play";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/levels.js"></script>
    <script type="text/javascript" src="~/js/alerts.js"></script>
    <script type="text/javascript" src="~/js/initialize.js"></script>
    <script type="text/javascript" src="~/js/gameplay.js"></script>
}

<div id="onload" class="onload">
    <p>Your mission:</p>
    <img src="~/images/user.jpg" style="width: auto; height: 50px;">
    <img src="~/images/sword.jpg" style="width: auto; height: 50px;">
    <p>Get the weapon.</p>
    <img src="~/images/armed.jpg" style="width: auto; height: 50px;">
    <img src="~/images/monster.jpg" style="width: auto; height: 50px;">
    <p>Slay the monsters before they get to the kitten!</p>
    <img src="~/images/kitty.jpg" style="width: auto; height: 50px;">
    <p>Use the arrows or WASD to move, and watch out for holes!</p>
    <img src="~/images/hole.png" style="width: auto; height: 50px;">
    <p>Press Spacebar or <a href="#" onclick="onSpaceBar();">touch here</a> to begin.</p>
</div>

<div id="tableJS"></div>

<div class="control-container" id="control-container">
    <br>
    <table class="controls" id="controls">
        <tr>
            <td ontouchstart="event.preventDefault();"></td>
            <td><img src="~/images/up.png" ontouchstart="event.preventDefault(); moveUser('up');"></td>
            <td ontouchstart="event.preventDefault();"></td>
        </tr>
        <tr>
            <td><img src="~/images/left.png" ontouchstart="event.preventDefault(); moveUser('left');"></td>
            <td><img src="~/images/circle.png" ontouchstart="onSpaceBar();"></td>
            <td><img src="~/images/right.png" ontouchstart="event.preventDefault(); moveUser('right');"></td>
        </tr>
        <tr>
            <td ontouchstart="event.preventDefault();"></td>
            <td><img src="~/images/down.png" ontouchstart="event.preventDefault(); moveUser('down');"></td>
            <td ontouchstart="event.preventDefault();"></td>
        </tr>
    </table>
</div>

<div class="stats" id="stats">
    <div style="width: 30%; text-align: left">
        <p>Level <span id="level">0</span></p>
        <p>Speed <span id="speed">0</span></p>
        <p>Kittens Saved: <span id="saved">0</span></p>
    </div>
    <div class="spacer"></div>
    <div id="message" class="message"></div>
    <div class="spacer"></div>
    <div style="width: 30%; text-align: right; display: flex">
        <span class="spacer"></span>
        <ul id="lives"></ul>
    </div>
</div>

@using (Html.BeginForm("Add", "Home", "POST"))
{
    <div class="scoreformcontainer" id="scoreformcontainer">
        <div class="scoreform">
            <p>
                Your score is:
                <label asp-for="Score">
                    <input id="score" name="Score" value="0" readonly class="scoredisplay" />
                </label>
            </p>
            <p>
                <label asp-for="Player">
                    <input type="text" name="Player" value="" required placeholder="Enter your name"/>
                </label>
            </p>

            <input type="submit" value="Save Score" />
            <input type="button" value="Cancel" onclick="hideScoreForm()" />
        </div>
    </div>
}



